<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Currency Exchange</h1>
    <p>Converting from: <span data-th-text="${currency.query.from}"></span> </p> 
    <p>Amount of: <span data-th-text="${currency.query.amount}"></span></p>
    <p>Converting to: <span data-th-text="${currency.query.to}"></span></p>
    <br>
    <p>Result: <span data-th-text="${currency.result}"></span></p>
    <br>
    <input type="button" value="Back" onvlick="history.back()">

</body>
</html>